---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import RecepiesList from "../components/RecepiesList.astro";
---

<Layout title="Welcome to Recepier.">
  <!-- The following content will be inserted into <slot/> etiquette -->
  <header>
    <nav class="top-nav">
      <img
        class="logo"
        src="src/imgs/logo.png"
        alt="Logo de la pagina recepier"
      />
      <ul>
        <li><a href="#">Sobre mi</a></li>
        <li><a href="#">Agregar receta</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <RecepiesList />
  </main>
  <footer>
    <p>
      Made with <span>&#10084;</span> by <a href="https://github.com/KemJiga"
        >KemJiga</a
      >
    </p>
  </footer>
</Layout>

<style>
  header,
  main,
  footer {
    width: 100vw;
  }

  header {
    display: flex;
    flex-wrap: wrap;

    margin: 10px 0px;

    height: 15vh;
  }

  .logo {
    width: 135px;
    height: 100px;
    aspect-ratio: 1920/1300;
  }

  .top-nav {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }

  ul {
    display: flex;
    justify-content: space-around;

    list-style-type: none;
    overflow: hidden;

    gap: 5%;
    width: 30%;
  }

  li {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  li > a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
  }

  main {
    height: 88vh;
  }

  footer {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5vh;

    position: sticky;
    bottom: 0;
  }
  a {
    color: black;
    text-decoration: none;
  }

  @media only screen and (max-width: 610px) {
    main {
      flex-direction: column;
    }
    ul {
      width: 50%;
      padding-right: 15px;
    }
  }
</style>
